---
import Facebook from "@/assets/svg/Facebook.astro";
import Instagram from "@/assets/svg/Instagram.astro";
import X from "@/assets/svg/X.astro";
import { footerConsts } from "@/consts/FooterConsts";
import type { footerItemsInterface } from "@/interfaces/FooterItemsInterface";
import ModalLegal from "./ModalLegal.astro";
---

<footer
  class="bg-gray-100 shadow-inner border-t border-zinc-300 bottom-0 w-full mt-0 z-10"
>
  <div
    class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-12 grid sm:grid-cols-4"
  >
    {
      footerConsts.map((item: footerItemsInterface) => (
        <div class="p-2">
          <h2 class="pb-3 text-2xl text-gray-600 font-bold">{item.title}</h2>
          <ol>
            {item.childs.map((child) => (
              <li class={child.svg && `flex`}>
                {child.svg && <child.svg />}
                <a
                  class="cursor-pointer"
                  href={child.url}
                  onclick={child.isModal ? `toggleModal('${child.name}')` : ""}
                >
                  {child.name}
                </a>
              </li>
            ))}
          </ol>
        </div>
      ))
    }
    <ModalLegal />
    <div class="p-2">
      <h2 class="pb-3 text-2xl font-bold text-gray-600">Social</h2>
      <div class="inline-flex space-x-2">
        <span>
          <a
            href="https://www.facebook.com/AC-Gabinete-Inmobiliario-101677465490643"
            target="_blank"
          >
            <Facebook />
          </a>
        </span>
        <span>
          <a
            href="https://www.instagram.com/gabineteinmobiliario/"
            target="_blank"
          >
            <Instagram />
          </a>
        </span>
        <span>
          <a href="https://www.x.com/AcGabinete" target="_blank">
            <X />
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>

<script is:inline>
  toggleModal = function (name) {
    let modal = "";
    let modalTitle = "";
    let modalDescription = "";

    if (name != null) {
      const id = slugify(name);

      modal = document.getElementById(id);
      modalTitle = document.getElementById(`${id}-title`);
      modalDescription = document.getElementById(`${id}-description`);
    }

    if (modal.style.display === "flex") {
      modal.style.display = "none";
    } else {
      modal.style.display = "flex";
    }
  };

  function slugify(text) {
    return text.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
  }
</script>
