---
import BlogSections from "@/components/BlogSections.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogProperties = await getCollection("blogProperties");
---

<style>
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>

<Layout>
  <div class="container p10 align-middle justify-center mx-auto">
    <h1 class="text-4xl mb-6">Blog</h1>
    <div class=`grid-cols-${blogProperties.length} w-full lg:w-1/2`>
      {
        blogProperties.map((item) => (
          <section class="mt-14">
            <BlogSections date={item.data.date} company={item.data.company} />
            <h1 class="font-semibold text-2xl my-4">{item.data.title}</h1>
            <p class="line-clamp-3 overflow-hidden text-gray-500">
              {item.data.description}
            </p>
          </section>
        ))
      }
    </div>
  </div>
</Layout>
