---
import Buildings from "@/assets/svg/Buildings.astro";
import Bed from "@/assets/svg/Bed.astro";
import Shower from "@/assets/svg/Shower.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import SectionTitle from "@/components/SectionTitle.astro";
import BoxProperty from "@/components/BoxProperty.astro";
import img from "@/assets/logo-landing.webp";
import InputForm from "@/components/InputForm.astro";
import CheckboxForm from "@/components/CheckboxForm.astro";
import { sendEmail } from "@/server-islands/EmailHandler";
import FormButton from "@/components/FormButton.astro";
import TestingCarousel from "@/components/testingCarousel.astro";

let { address } = Astro.params;

const properties = await getCollection("properties");

const selectedProperty = properties.find(
  (c) => c.data.direccion === address,
)?.data;

const deconstructProperty = {
  imagen: selectedProperty!.imagenes[0] ?? "default",
  direccion: selectedProperty!.direccion ?? "sin direccion",
};

let success: boolean | null = null;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const name = formData.get("Nombre")?.toString() || "";
  const email = formData.get("Email")?.toString() || "";
  const phone = formData.get("Teléfono")?.toString() || "";
  const details = formData.get("Detalles")?.toString() || "";

  const result = await sendEmail({
    name,
    email,
    phone,
    details,
  });

  success = result.success;
}
---

<Layout>
  <section class="flex md:flex-row flex-col p-10 gap-5">
    <div class="w-[60%] max-md:w-full">
      <h1 class="text-3xl text-[var(--color-principal)]">
        {selectedProperty?.titulo ?? "Sin título"}
      </h1>
      <p class="text-[var(--color-gris)]">
        {selectedProperty?.direccion ?? "Sin dirección"}
      </p>

      <TestingCarousel propertiesAttribute={[deconstructProperty]} />

      <section class="bg-gray-100 w-full border-2">
        <ol class="inline-flex gap-5 p-5">
          <li>
            <span class="flex gap-2">
              <Buildings />
              {selectedProperty?.tipo ?? "-"}
            </span>
          </li>
          <p>|</p>
          <li>
            <span>{selectedProperty?.area ?? "-"} m2</span>
          </li>
          <p>|</p>
          <li>
            <span class="flex gap-2">
              <Bed />
              {selectedProperty?.caracteristicas?.estancias ?? "-"}
            </span>
          </li>
          <p>|</p>
          <li>
            <span class="flex gap-2">
              <Shower />
              {selectedProperty?.caracteristicas?.baños ?? "-"}
            </span>
          </li>
        </ol>
      </section>

      <p class="prose my-5">{selectedProperty?.descripcion ?? ""}</p>

      <SectionTitle Children="Características inmueble" Color="red" />
      <div class="grid grid-cols-2 gap-5">
        <section class="flex flex-col gap-5">
          <BoxProperty>
            Superficie: {selectedProperty?.area ?? "-"} m2
          </BoxProperty>
          <BoxProperty>
            Superficie parcela: {
              selectedProperty?.caracteristicas?.areaDeParcela ?? "-"
            } m2
          </BoxProperty>
          <BoxProperty>
            Precio venta / m2: {
              selectedProperty?.caracteristicas?.precioPormetro ?? "-"
            } €
          </BoxProperty>
          <BoxProperty>
            Plantas: {selectedProperty?.caracteristicas?.estancias ?? "-"}
          </BoxProperty>
          <BoxProperty>
            Año de construcción: {
              selectedProperty?.caracteristicas?.añoConstruccion ?? "-"
            }
          </BoxProperty>
        </section>
        <section class="flex flex-col gap-2">
          {
            selectedProperty?.caracteristicas?.extras?.map((extra: string) => (
              <span class="bg-[var(--color-principal)] rounded-2xl p-2 text-white">
                {extra}
              </span>
            ))
          }
        </section>
      </div>

      <SectionTitle Children="Certificación energética" Color="red" />
      <section class="grid grid-cols-1 gap-5">
        <BoxProperty>
          Consumo energético: {
            selectedProperty?.certificacionEnergetica?.consumo ?? "-"
          }
        </BoxProperty>
        <BoxProperty>
          Emisión CO2: {
            selectedProperty?.certificacionEnergetica?.emisionesCo2 ?? "-"
          }
        </BoxProperty>
      </section>
    </div>

    <div
      class="w-[35%] max-md:w-full bg-gray-300 flex flex-col p-4 items-center h-200"
    >
      <img
        class="w-2/3"
        src={img.src}
        alt="Logo inmobiliaria Toledo"
        title="Logo acgabineteinmobiliario"
        loading="lazy"
        decoding="async"
      />
      <h1 class="text-[var(--color-principal)] text-xl">
        Ac Gabinete Inmobiliario
      </h1>

      <form action="" method="POST" class="my-4">
        <textarea
          class="w-full p-2"
          name="Detalles"
          id="Detalles"
          placeholder="Hola, ¿podrían enviarme más información de este inmueble?"
          rows="3"
          cols="10"></textarea>

        <InputForm labelName="Nombre" important={true} />
        <InputForm labelName="Email" important={true} />
        <InputForm labelName="Teléfono" important={true} />
        <CheckboxForm
          privacy="true"
          text="Acepto que mis datos sean gestionados de acuerdo con los de la"
        />
        <CheckboxForm
          text="Acepto de modo inequívoco recibir boletines, newsletter o comunicaciones comerciales de esta entidad."
        />
        <FormButton>Contacto</FormButton>
      </form>
      {success === true && <p>✅ ¡Correo enviado con éxito!</p>}
      {success === false && <p>❌ Hubo un error al enviar el correo.</p>}
    </div>
  </section>
</Layout>
