---
const { propertiesAttribute } = Astro.props;
---

<div class="carousel w-full my-5">
    {
        propertiesAttribute?.map((propertyAttribute: any, index: number) => (
            <div id={`item${index}`} class="carousel-item w-full flex-col">
                <a href={propertyAttribute.direccion}>
                    <img
                        src={propertyAttribute.imagen}
                        class="w-full object-cover h-[500px]"
                    />
                </a>
                <h2 class="text-2xl text-center m-5">
                    {propertyAttribute.direccion}
                </h2>
            </div>
        ))
    }
</div>

<div class="flex w-full justify-center gap-2 py-2">
    {
        propertiesAttribute?.map((_: any, index: number) => (
            <button
                class="rounded-full bg-[var(--color-principal)] w-4 h-4 cursor-pointer"
                onclick={`${`document.getElementById('item${index}').scrollIntoView({ block: 'nearest', inline: 'center' })`}`}
            />
        ))
    }
</div>
