---
const { propertiesAttribute, redirect } = Astro.props;
---

<div class="carousel w-full my-5">
    {
        propertiesAttribute &&
            propertiesAttribute.map((propertyAttribute: any, index: number) => (
                <div id={`item${index}`} class="carousel-item w-full">
                    {redirect ? (
                        <a href={propertyAttribute.direccion}>
                            <img
                                src={propertyAttribute.imagen}
                                class="w-full"
                            />
                        </a>
                    ) : (
                        <img src={propertyAttribute.imagen} class="w-full" />
                    )}
                </div>
            ))
    }
</div>
<div class="flex w-full justify-center gap-2 py-2">
    {
        propertiesAttribute
            ? propertiesAttribute.map((index: number) => (
                  <a
                      href={`#item${index}`}
                      class="rounded-full bg-[var(--color-principal)] w-4 h-4"
                  />
              ))
            : ""
    }
</div>
