---
import WhatsappSvg from "@/assets/svg/Whatsapp-svg.astro";
import Footer from "@/components/Footer.astro";
import Navbar from "@/components/Navbar.astro";
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";

const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <script>
      import { run } from "vanilla-cookieconsent";
      import { config } from "@/utils/cookieconsent-config";
      import "vanilla-cookieconsent/dist/cookieconsent.css";
      run(config);
    </script>
  </head>

  <body class="body">
    <Navbar />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    <div class="flex fixed right-10 bottom-10 z-50 gap-5">
      <!-- <GoogleSvg /> -->
      <WhatsappSvg />
    </div>
  </body>
</html>
